@import url('https://fonts.googleapis.com/css2?family=Lemonada&display=swap');

html {
    scroll-behavior: smooth;
}

body {
    margin: 0px;
    background-image: linear-gradient(90deg, silver,white,silver);
    width:100vw;
    font-family: 'Lemonada', cursive;
}

nav {
    display: flex;
    justify-content: flex-end;
    background-color: black;
    color: #ffce12;
    height: 40px;
    width: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
}


.navhome {
    background-image:linear-gradient(0deg, #ffce12,#fceaa5, #ffce12);
    font-size: 16px;
    padding:0px;
}

.navhome a {
    text-decoration: none;
    color: black;
    padding:25px;
    font-family: 'Lemonada', cursive;
}

.dropmenu {
    position: relative;
    display: inline-block;
}

.dropdown {
    background-image:linear-gradient(0deg, #ffce12,#fceaa5, #ffce12);
    font-size: 16px;
    font-family: 'Lemonada', cursive;
    height: 100%;
    padding-left:25px;
    padding-right: 25px;
    
}

.dropcontent {
    display: none;
    position: absolute;
    right: 0px;
    min-width: 150px;
    background-color: #ffce12;
    box-shadow: 0px 0px 5px grey;
    z-index: 2;
}

.dropcontent a {
    padding: 12px 16px;
    display: block;
    text-decoration: none;
    color: black;
}

.dropcontent a:hover {
    background-color: #ffdf5e;
    transform:scale(1.02);
}

.dropmenu:hover .dropcontent {
    display: block;
    z-index: 10;
}


.footer {
    text-align: center;
}

h1 {
    position: relative;
    z-index: -1;
    top: 20px;
    margin-bottom: 20px;
    width: 100%;
    text-align: center;
    background-color: #ffce12;
    box-shadow: 0px 0px 8px black;
    padding-top:5px;
    padding-bottom: 5px;
}

h3 {
    margin:0px;
}

h4 {
    background-color: #ffce12;
    box-shadow: 0px 0px 8px black;
    width:100%;
    text-align: center;
    padding-top:5px;
    padding-bottom: 5px;
}

h5 {
    text-decoration: underline;
    font-size:16px;
}

img {
    border: 1px solid #ffce12 ;
    border-radius: 5%;
    height: 250px;
    width: 250px;
    

}

.toolcontainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    width:100%;
}

.toolheader {
    text-align: center;
}
.toolinfocontainer {
    margin:10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap:wrap;
}

@media (min-width:1024px){
    .toolinfocontainer {
        margin:10px;
        display:block;
        width:60%;
        margin:auto;
    }
}

.toolinfoheader {
    padding-top:20px;
    
}

.toolmenu {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height:min-content;
    margin-left:10px;
    margin-right:10px;

}

.ToolSelect {
    display: inline-block;
    width: 250px;
    margin:10px;
    text-align: center;
}


.ToolSelectbtn{
    display: inline-block;
    background-image:linear-gradient(0deg, #ffce12,#fceaa5, #ffce12);
    border-color: black;
    padding:0px;
    color: black;
    width:160px;
    text-align: center;
    font-family: 'Lemonada', cursive;
}

.ToolSelectbtn:hover {
    transform: scale(1.05);
}

.ToolSelect a{
    display:inline-block;
    width:100%;
    margin:0px;
    text-decoration: none;
    color:black;
}
