

body {
    margin: 0px;
    background-image: linear-gradient(90deg, silver,white,silver);
    width:100%;
}

nav {
    display: flex;
    justify-content: flex-end;
    background-color: black;
    color: #ffce12;
    height: 40px;
    width: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
}

nav button:hover {
    background-color: #ffdf5e;
}

.navhome {
    background-image:linear-gradient(0deg, #ffce12,#fceaa5, #ffce12);
    font-size: 16px;
}

.navhome a {
    text-decoration: none;
    color: black;
}

.dropmenu {
    position: relative;
    display: inline-block;
}

.dropdown {
    background-image:linear-gradient(0deg, #ffce12,#fceaa5, #ffce12);
    font-size: 16px;
    height: 100%;
}

.dropcontent {
    display: none;
    position: absolute;
    right: 0px;
    min-width: 150px;
    background-color: #ffce12;
    box-shadow: 0px 0px 5px grey;
    z-index: 2;
}

.dropcontent a {
    padding: 12px 16px;
    display: block;
    text-decoration: none;
    color: black;
}

.dropcontent a:hover {
    background-color: #ffdf5e;
    transform:scale(1.02);
}

.dropmenu:hover .dropcontent {
    display: block;
    z-index: 10;
}




h1 {
    position: relative;
    z-index: -1;
    top: 20px;
    margin-bottom: 20px;
    width: 100%;
    text-align: center;
    background-color: #ffce12;
    box-shadow: 0px 0px 8px black;
}

h4 {
    background-color: #ffce12;
    box-shadow: 0px 0px 8px black;
    width:100%;
}

.toolmenu {
    padding-top: 20px;
    text-align: center;

}

.ToolSelect {
    display: inline-block;
    width: 250px;
    align-items: center;
    margin:10px;
}

.toolcontainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;

}

img {
    border: 1px solid #ffce12 ;
    border-radius: 5%;
    height: 250px;
    width: 250px;
    

}

.ToolSelectbtn{
    display: inline-block;
    background-image:linear-gradient(0deg, #ffce12,#fceaa5, #ffce12);
    border-color: black;
    color: black;
    width: 120px;
    text-align: center;
    margin-left: 75px;
}

.ToolSelectbtn:hover {
    transform: scale(1.05);
}

.ToolSelect a{
    text-decoration: none;
    color:black;
}

.toolinfocontainer{
    
}